system/system/apex/com.android.vndk.current.apex
system_ext/priv-app/Settings/Settings.apk
cust/app/customized/partner-com.ebay.mobile_49/partner-com.ebay.mobile_49.apk
boot.img
product/priv-app/Velvet/Velvet.apk
